@model AuctionTimerModel

<div class="auction-timer" data-end-time="@Model.EndTime.ToString("o")" data-started="@Model.IsAuctionStarted.ToString().ToLower()">
    Auction not started
</div>

@if (User.IsInRole("Admin"))
{
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Auction Control</h5>
            <p class="card-text">Start a 3-minute auction for all active items.</p>
            <button id="startAuction" class="btn btn-primary">Start Auction</button>
        </div>
    </div>
}
